.exprense_item{
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 0 2px 5px rgba(0,0,0,0.25);
padding: 10px;
margin: 5px 0;
border-radius: 9px;
background-color: #cbc6c6;
}
.exprense_item h5{
    font-size: 16px;
color: #fff;
}

.exprense_item_description{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.exprense_item h2{
    color: #fff;
    font-weight: bold;
    margin: 0 16px;
}
.exprense_item_prices{
    width: 70px;
    border: 2px solid #dddace;
    background: #cbb8c2;
    color: #fff;
border-radius: 5px;
padding: 3px 10px;
text-align: center;
}


@media(min-width:450px){
.exprense_item_description h2{
    font-size: 24px;
}
}
@media(max-width:449px){
    .exprense_item_description h2{
        font-size: 16px;
        margin: 0;
    }
    .exprense_item_description{
    align-items: center;
    }
    .exprense_item_description h2{
        font-size: 16px;
    }
    .exprense_item h5{
        font-size: 14px;
        margin: 0 2px;
    }
    }