.cart{
    display: flex;
}
.card_detils div{
    font-size: 22px;
    font-weight: bold;
    color: black;
    padding-bottom: 7px;
}
.item_actions img{
    width: 25px;
    height: 25px;
    margin: 0 2px;
}
.card_detils {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}